.concerts, .countries
  width: 50%
  margin: 0 auto
  text-align: center
  font-weight: 300
  font-size: 25px
  font-family: 'Courier New', 'Sans Serif'
  overflow-y: scroll

  p.message
    font-size: 20px
    margin-top: 10px

  p.number
    font-size: 24px

  p.extra
    font-size: 18px

  .concert, .country
    border: #f3f3f3 2px solid
    min-height: 50px
    padding:10px

  .concert:nth-child(2n+1), .country:nth-child(2n+1)
    background-color: #f3f3f3

@media(max-width: 480px)
  .concerts, .countries
    width: 95%


