@import 'normalize'
@import 'style'
@import 'animate'

/* variables */
$lightgrey = #999
$linkColor = #555
$grey = #BDC3C7
$black = #222
$white = #f7f7f7

@font-face
  font-family: 'Comfortaa', cursive;
  font-weight:normal
  font-style:normal

html
  padding: 15px

html, body, #app
  height: 100%
  width: 100%
  font-family: 'Comfortaa', cursive !important;
  background-color: #fff !important
  color: $black
  font-size: 1em
  line-height: 1.5
  overflow-x: hidden

html
button
input
select
textarea
  color: $black

.content
  background: #D3D3D3
  padding: 15px
  height: 100%
  height: 100%
  width: 100%
