.slider
  position: absolute
  width: calc(100% - 350px)
  height: 100%
  transition: 0.4s ease-in-out
  background: RGBA(243, 243, 243, 0.6)
  right: 0
  text-align: center

  &.hide-box
    transform: translate(100%,0)

  &.show-box
    transform: translate(0,0)

@media(max-width: 900px)
  .slider
    display: none !important
