.logo-container
  width: 250px
  margin: auto

  .logo-item
    width: 200px
    border-radius: 50%

.social-buttons
  opacity: 0
  margin-top: 20px

.containertop
  margin-right: auto
  margin-left: auto
  width:100%
  height:800px

.containertop
  margin-right: auto
  margin-left: auto
  width:100%
  height:800px

.intro-message .overlay
  background: url('/images/bg_flower.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  opacity: 0.2
  height:100%
  width: 100%
  position: absolute

.intro-message-top
  opacity: 0
  z-index:10
  padding-top:150px

.col-4
  width:100%
  float:left

.intro-message
  height:100%
  width: 100%
  color: #757575
  text-align:center

.intro-message > h1
  margin: 0
  font-size: 6em
  color:#000
  font-weight:300

.intro-message > h2
  margin: 0 !important
  font-size: 2.8em !important
  color:#FD5C3E !important
  margin-top:-10px !important
  font-weight:300

.intro-message > span
  font-size: 20px
  transform: rotate(90deg)
  position: absolute
  border-bottom: 1px #FD5C3E solid
  margin-top: -27px
  margin-left: 25px

.resumeButton
  background-color:transparent
  border:none
  outline:none
  border-radius:10px
  width:175px
  height:45px
  font-size: 1.6em
  color:#8D8D8D

  a
    color:#8D8D8D

.resume
    margin-top:15px

.buttonIntro
  display: inline-block
  margin-left:17px
  margin-right:17px
  font-size: 2em
  color:#8D8D8D
  margin-bottom: 0

.buttonIntro:hover, .resumeButton a:hover, .resumeButton:hover, .buttonIntro:active, .resumeButton a:active
  -webkit-animation: socialbutton 0.35s
  animation: socialbutton 0.35s
  color:#9478C0
  text-decoration: none

.back_button
  position: fixed
  bottom: 30px
  right: 30px
  border: 1px solid #f3f3f3
  border-radius: 3px
  padding: 10px
  cursor: pointer

  a
    color:#000
    text-decoration: none !important

    &:hover
      color:#000

.error_404
  width: 100%
  height: 100%
  padding-top: 60px
  background: url('../../images/forest.gif') no-repeat center center fixed
  -webkit-background-size: cover
  position: fixed

  .error_container
    img
      position: absolute
      right: 0
      bottom: 0
      width: 75%
      max-width: 700px

    a
      color: white

    .error_bubble
      position: absolute
      top: 45%
      text-align: center
      z-index: 100
      width: 100%

      div
        color: white
        font-weight: 300
        font-size: 3em
