@tailwind base;
@tailwind components;
@tailwind utilities;

.jersey-10 {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 3s ease infinite;
}